.link {
    text-decoration: none;
    color: #fff;
    font-size: 400;
    padding: 15px;
    max-width: 70px;
    transition: box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.link:hover {
    box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 1);
}

.wrapper {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 75px 1fr 30px 200px;
    justify-items: center;
}

.title {
    color: #fff;
    grid-column: 3;
    grid-row: 1;
}

.li {
    color: #fff;
    margin-top: 8px;
}


.container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.list {
    grid-column: 2;
}

.nav {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: center;
}

.navLink {
    text-decoration: none;
    color: #fff;
    font-size: 400;
    padding: 15px;
    max-width: 70px;
    margin-left: 15px;
}

.active {
    box-shadow: 0px 7px 8px -4px rgba(255, 255, 255, 1);
}

.img {
    justify-self: center;
    margin-bottom: 20px;
}