.review {
    grid-column: 2;
    grid-row: 4;
}

.text {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.li {
    border: 1px solid #ffffff9e;
    border-radius: 5px;
    padding: 15px;
    max-width: 1000px;
}

.title {
    color: #fff;
    grid-column: 2;
    grid-row: 3;
    margin-top: 30px;
}

.error {
    color: #fff;
    font-weight: 400;
    display: flex;
    margin: 0 auto;
}